:root{
  --color-dark-100: rgb(49, 50, 52);
  --color-dark-300: rgb(26, 26, 26);
  --color-dark-500: rgb(30, 30, 30);

  --color-cyan-300: rgb(17, 176, 200);
  --color-cyan-500: rgb(66, 180, 202);


  --color-lime-300: rgb(191, 222, 66);

  --color-light-100: #fff
}