:root {
  --font-family-primary: 'Inter';

  // line heights
  --line-height-s: 17px;
  --line-height-m: 19px;
  --line-height-l: 29px;
  --line-height-xl: 39px;
  --line-height-xxl: 49px;

  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}